<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Apps Starter Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./styles/main.css">
    <style>
        .jumbotron{
            background:url(/images/heros/hero-image_2.jpg);
        }
    </style>
</head>
<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>

    <nav>        
        <div class="logo">HUNGRY APP</div>
        <a id="hamburger" href="#">☰</a>
        <div id="drawer">        
            <ul>           
                <li class="logo">HUNGRY APP</li>
                <li><a href="/">Home</a></li>
                <li><a href="#">Favorite</a></li>
                <li><a href="https://github.com/hanifrfd">About Us</a></li>                
            </ul>
        </div>
        
    </nav>
    <div id="backdrop">

    </div>
    <div class="jumbotron">    
        <div class="jumbo-text">FIND YOUR <br> FAVORITE RESTAURANNT</div>
        <div class="blur"></div>
    </div>
<main id="maincontent">
    <div class="headline">Explore Restaurant</div>    
    <div id="list"></div>    
</main>

<footer>
    Copyright © 2021 - Hungry App
</footer>    

<script src="../scripts/drawer.js"></script>
<script>        
    fetch('https://restaurant-api.dicoding.dev/list')
        .then(response => response.json())
        .then(data => {
            data.restaurants.map((items) => {                      
                var img = document.createElement("img");
                var card = document.createElement("div");
                var cardInfo = document.createElement("div");
                var title = document.createElement("a");
                var rating = document.createElement("span");
                var city = document.createElement("span");
                var description = document.createElement("p");
                            
                card.setAttribute("class", "card");
                cardInfo.setAttribute("class", "cardInfo");
                title.setAttribute("href", "detail.html?restaurant="+items.id);
                title.setAttribute("class", "cardTitle");
                

                img.setAttribute("src", "https://restaurant-api.dicoding.dev/images/medium/"+items.pictureId);
                img.setAttribute("alt", items.name)
                
                title.innerHTML = items.name;
                city.innerHTML = items.city;
                rating.innerHTML = items.rating;
                description.innerHTML = items.description;

                cardInfo.innerHTML += city.outerHTML + rating.outerHTML;
                card.innerHTML += img.outerHTML + cardInfo.outerHTML + title.outerHTML  + description.outerHTML;
                
                document.getElementById("list").appendChild(card);
                
            })
        })
        .catch(error => console.log(error));

</script>
</body>
</html>
