<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free movie catalogue for you">
    <meta name="theme-color" content="#00B14F">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.png">    
    <title>Hungry App</title>
</head>
<body>
  <header>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <nav>        
        <a class="logo" href="#/">HUNGRY APP</a>
        <a id="hamburger">☰</a>
        <div id="drawer" class="nav_drawer">        
            <ul>           
                <li class="logo">HUNGRY APP</li>
                <li><a href="#/">Home</a></li>
                <li><a href="#/favorite">Favorite</a></li>
                <li><a href="https://github.com/hanifrfd">About Us</a></li>                
            </ul>
        </div>        
    </nav>
    <div id="backdrop"></div>    
  </header>  
  <main id="main"></main>
  <footer>
    Copyright © 2021 - Hungry App
  </footer>
</body>
</html>